.about-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 75vw;
  /* background-color: rgb(0, 0, 67); */
}

.heading{
  font-size: clamp(2.5rem, 0.5206rem + 4.1237vw, 4rem);  color: var(--brand);
  position: relative;
  font-weight: 400;
  /* top: -10rem;
  animation: general 0.5s forwards; */
}
/* 
.about-content .heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--brand);
} */

.about-content .typography{
  padding-top: 2rem;
  /* text-align: center; */
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-content .typography div{
  position:relative;

  /* top: -10rem;
  animation: general 0.5s forwards; */
}

.typography div > p{
  color: var(--brand);
  font-size: 1.3rem;

}

@media only screen and (max-width: 920px) {
  .about-content .typography {
    flex-direction: column;
  }
}

