.about-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 75vw;
  /* background-color: rgb(0, 0, 67); */
}

.about-content .heading{
  font-size: clamp(2rem, 2.1852rem + 4.7407vw, 4rem);
  font-weight: bold;
  color: var(--brand);
  position: relative;
  /* top: -10rem;
  animation: general 0.5s forwards; */
}

.about-content .heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--brand);
}

.about-content .typography{
  padding-top: 2rem;
  /* text-align: center; */
  width: 100%;
  font-size: clamp(1rem, 0.9185rem + 0.4741vw, 1.2rem);
}

.about-content .typography div{
  position:relative;

  /* top: -10rem;
  animation: general 0.5s forwards; */
}

.typography div > p{
  color: var(--brand);
  font-size: 1.3rem;

}

